[Unit]
Description=ShieldPM Container Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
# Load environment from file if present (optional)
# EnvironmentFile=-/etc/default/shieldpm
Environment="TERM=xterm"
Environment="HOME=/root"
# Load system locale
EnvironmentFile=-/etc/default/locale

# Run the same entrypoint as Docker
ExecStart=/usr/local/bin/entrypoint.sh

# Restart logic
Restart=always
RestartSec=5
TimeoutStopSec=45s
KillSignal=SIGTERM
KillMode=mixed
SendSIGKILL=yes
UMask=0077

[Install]
WantedBy=multi-user.target
